<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Aaron Pendley</string>
	<key>Buffer Order</key>
	<array>
		<string>Main</string>
		<string>SpriteBatch</string>
		<string>pickle</string>
	</array>
	<key>Created</key>
	<string>2012-11-05 16:53:14 +0000</string>
	<key>Dependencies</key>
	<array/>
	<key>Description</key>
	<string>Example of using sprite sheets exported from TexturePacker using the Codea chunk exporter</string>
</dict>
</plist>
